[Unit]
Description=Demo

[Service]
ExecStart=/usr/bin/python /home/pi/zoidberg-deploy/PythonService/service.py
Environment=PYTHONUNBUFFERED=1
Restart=on-failure
Type=notify
KillSignal=SIGINT

[Install]
WantedBy=default.target